# Ignore .ipynb checkpoints
.ipynb_checkpoints/

# Ignore Manual folder
/Manual/

# Ignore software folder
/software/

# Ignore data folder
/data/

# Ignore plot folder
/plot/

# Ignore pycache folder 
/__pycache__/

# Ignore .DS_Store files
.DS_Store